h1 {
<<<<<<< HEAD
	font-family: Arial;
}
body {
	width: 90%;
	margin: 0 auto;
}

table {
	width: 80%;
=======
	font-family: Georigia, Times, serif;
}

table {
	width: 800px;
>>>>>>> 82fbf52c120ec5d8a7e1ff05be2f8814a7477275
}

th, td { 
	padding: 7px 10px 10px 10px;
}

th {
<<<<<<< HEAD
	font-family: Arial;
=======
>>>>>>> 82fbf52c120ec5d8a7e1ff05be2f8814a7477275
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 90%;
	border-bottom: 2px solid #111111;
	border-top: 1px solid #999;
	text-align: left;
}

tr.eve {
	background-color: #efefef;
}

tr.hover {
	background-color: #c3e6e5;
}
